{% extends "base.html" %}

{% block title %}Login Părinte{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card shadow">
            <div class="card-body">
                <h3 class="text-center mb-4">Login Părinte</h3>

                <form method="POST" action="/login_parinte">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Parola</label>
                        <input name="password" type="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Login</button>

                    {% if error %}
                        <p class="text-danger mt-3">{{ error }}</p>
                    {% endif %}
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}
